@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
*{
  padding: 0;
  margin: 0;
}

@-webkit-keyframes effectLeaf{
  0%{
    transform: rotate(0deg);
      position: absolute;
      z-index: 9;
      bottom: 20px;
      left: 0px;
      opacity: 1;
  }
  30%{
    transform: rotate(25deg);
      position: absolute;
      z-index: 9;
      bottom: -50px;
      left: -72px;
      opacity: 1;
  }
  60%{
    transform: rotate(25deg);
      position: absolute;
      z-index: 9;
      bottom: -50px;
      left: -72px;
      opacity: 1;
  }
  100%{
    transform: rotate(25deg);
      position: absolute;
      z-index: 9;
      bottom: -70px;
      left: -72px;
      opacity: 0;
  }
}

html, body{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 100%;
  overflow: hidden;
}

.text{
  position: absolute;
  top: 3%;
  left: 3%;
}
.text h1{
  font-size: 3em;
  color: #ff5252;
}
.text p{
  font-size: 2em;
}
.text p span{
  color: #ff5252;
}
.text-effect{
  width: 215px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #fffae4;
}

.container{
  width: 387px;
  height: 447px;
  position: absolute;
  top: calc(50% - 223px);
  left: calc(50% - 193px);
}
.base-schedule{
  width: 387px;
  height: 405px;
  float: left;
  margin-top: 42px;
  border-radius: 50px;
  background-color: #bdc3c7;
}
.header-calendario{
  width: 100%;
  height: 108px;
  float: left;
  background-color: #e74c3c;
  border-bottom: 21px solid #c0392b;
  border-radius: 50px 50px 0 0;
  position: relative
}
.header-calendario:before,
.header-calendario:after{
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  top: 25px;
  background-color: #c0392b;
  border-radius: 50%;
}
